html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

input {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
}

.full-width-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

hr {
  margin: 0;
}

.button {
  padding: 10px;
  background: #76dc76;
  color: #fff;
  border: 1px solid transparent;
  borderradius: 6px;
  font: inherit;
  cursor: pointer;
}

.button-default {
  background: #cacaca;
  color: black;
}

/* layout */
.container {
  height: 100%;
}

.main-content {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

/* TaskList */
.new-task-form {
  margin-bottom: 10px;
}

.tasks {
  margin: 0 auto;
  max-width: 980px;
}

.tasks-header {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: right;
}

/* Task */
.task {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
}

.task-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-body {
  padding: 10px 20px;
  min-height: 60px;
}

.task-lists {
  display: flex;
  justify-content: space-between;
}

.task-list {
  width: 300px;
}

.task-list-title {
  margin-bottom: 10px;
}

.tasks-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flash-error {
  text-align: center;
  padding: 25px;
  background: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

/* Dots Loading Animation */
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: ' ';
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

/* Spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #2196f3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2196f3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
